@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
